:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 20%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styling */

body {
  display: grid;
  place-content: center;
  font: size 0.8rem;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
  background-color: var(--clr-secondary-200);
  margin: 1rem;
}

/* Mobile style 375px */

.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  display: grid;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--clr-neutral-100);
  max-width: 600px;
}

@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
}

.productContent {
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-spacing);
}

.flexGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.productCategory {
  letter-spacing: 0.2rem;
  color: var(--clr-neutral-400);
}

.productTitle {
  color: var(--clr-neutral-900);
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  line-height: 2rem;
}

.discountPrice {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.originalPrice {
  font-size: 0.7rem;
  font-weight: var(--fw-bold);
}

.productBtn {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  border: hidden;
  padding: 0.5rem 0px;
  font-weight: var(--fw-bold);
  font-size: 0.825rem;
  cursor: pointer;
}

.productBtn:is(:hover, :focus) {
  background-color: var(--clr-primary-500);
}
